<!-- Cookie Container -->
<div id="cookie-container">
	<div id="cookie-text">
    <svg id="close-cookie-bar" class="icon pull-right" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" xml:space="preserve">
		<g>
			<g>
				<path fill="#BCBEC0" d="M118.2,28.8C88.1,58.8,58.1,88.9,28,118.9c-2.3,2.3,1.3,5.8,3.5,3.5c30.1-30.1,60.1-60.1,90.2-90.2 C124,30,120.5,26.5,118.2,28.8L118.2,28.8z"/>
			</g>
			<g>
				<path fill="#BCBEC0" d="M28,32.3c30.1,30.1,60.1,60.1,90.2,90.2c2.3,2.3,5.8-1.3,3.5-3.5C91.7,88.9,61.6,58.8,31.6,28.8 C29.3,26.5,25.7,30,28,32.3L28,32.3z"/>
			</g>
		</g>
		</svg>
		<span>
			By continuing to use our site, you agree to our use of <a href="/privacy-policy/">Cookies</a>.
		</span>		
	</div>
</div>