<footer>
    <div class="footer__content">
        <span class="logo">Canetti • Codes</span>
        <span class="copyright">Canetti • Codes &copy; {{ 'now' | date: '%Y' }}</span>
    </div>
</footer>
